{% extends 'administration/base.html' %}

{% block title %}User Results{% endblock %}
{% block content %}
<header>
    {% include 'partials/_navbar.html' %}
</header>
<main class="container">
    <div class="d-flex justify-content-between mx-auto my-3">
        <h3 class="f-teal">User Results</h3>
        <form method='GET' class="w-75 my-auto">
            <div class="d-flex justify-content-end input-group">
                <div class="w-75">
                    {{form.name}}
                </div>
                <button class="btn teal-btn" type='submit'>Search</button>
            </div>
        </form>
    </div>
    <div class="user-table">
        {% if users %}

        <table class="table w-75 mx-auto">
            <div class="text-center">
                <p class="text-muted m-0">Total of {{users_total}} user{{users_total|pluralize}} found</p>
            </div>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Is_approved</th>
                    <th>View</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                
                <tr>
                    <td>{{user.user.username}}</td>
                    <td>{{user.user.first_name}}</td>
                    <td>{{user.user.last_name}}</td>
                    <td>
                        {% if user.is_approved %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="green" class="bi bi-check"
                            viewBox="0 0 16 16">
                            <path
                                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                        </svg>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-x"
                            viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                        {% endif %}
                    </td>
                    <td><button class="btn teal-btn">See Results</button></td>
                    <form method="post" action="{% url 'administration:approve-user' %}">
                    <td>
                        {% csrf_token %}
                        {% if user.is_approved %}
                        <button class="btn btn-primary" name='value' value="{{user.id}}">Disapprove User</button>
                        {% else %}
                        <button class="btn btn-primary" name='value' value="{{user.id}}">Approve User</button>
                        {% endif %}
                    </td>
                </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <div class="text-center">
            <h3>No records found</h3>
        </div>
        {% endif %}
        {% if is_paginated %}
        <nav aria-label="Page navigation" class="m-5">
            <ul class="pagination justify-content-end">
                {% if page_obj.has_previous %}
                <li><a href="?name={{ request.GET.name}}&page={{ page_obj.previous_page_number }}"
                        class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}disabled{% endif %}"><a class="page-link"
                        href="?name={{ request.GET.name}}&page={{ i }}">{{i}}</a></li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?name={{ request.GET.name}}&page={{ page_obj.next_page_number }}" class="page-link"> NEXT
                        &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</main>
{% endblock %}