<script>
    let barChart = document.getElementById('barChart').getContext('2d');
    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    let riasecBarChart = new Chart(barChart, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels:['Top 1', 'Top 2', 'Top 3'],
        datasets:[{
          label:'Result',

          data:[
          {{top1value|floatformat:1}},
          {{top2value|floatformat:1}},
          {{top3value|floatformat:1}},
          ],
          
          backgroundColor:[
          '#008080',
          '#4da6a6',
          '#99cccc',
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      },
      options:{
        title:{
          display:false,
          text:'Bar Chart',
          fontSize:25
        },
        legend:{
          display:false,
          position:'right',
          labels:{
            fontColor:'#000'
          }
        },
        layout:{
          padding:{
            left:0,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        }
      }
    });
</script>