.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-90deg);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(90deg);
}
.carousel {
    padding: 0px;
    margin: 0px;
}

.carousel-bg-left {
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: left;
    height: 92vh;
  }
.carousel-bg-right {
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: right;
    height: 92vh;
  }
.carousel-bg-right {
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
    height: 92vh;
  }

.move-header1 {
    position: relative;
    top: 200px;px;
    left:200px;
  }
.move-header2 {
    position: relative;
    top: 300px;
    left:300px;
  }
.move-header3 {
    position: relative;
    top: 300px;px;
    left:300px;
  }

