
/* Login Page */
a {
    text-decoration: none;
    color: #555;
}

a:focus {
	outline: none !important;
}
 
a:hover {
	text-decoration: none;
    color: #6675df;
}

.social-bg1 {background: #3b5998;}
.soical-bg2 {background: #fff;}

.login-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }

.login-btn:hover {
    background: #07377f
    ;
  }

.login-fb-social {
    width: 36px;
    height: 36px;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.login-google-social {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.login-fb-social:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    color: #fff;
    border-radius: 50%;
    
}

.login-google-social:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    border-radius: 50%;
}
.flex-c-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

#google-icon {
    width: 20px;
}

/* Register Page */

.register .col-6{
    margin-top: 100px;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.2);
}

.register  label {
    margin-top: 10px;
}

.register input[type=submit] {
    margin-top: 15px;
    width: 100%;
}