
/* Login Page */
a {
    text-decoration: none;
    color: #555;
}

a:focus {
	outline: none !important;
}
 
a:hover {
	text-decoration: none;
    color: #008080;
}

input[type='checkbox']:checked{
    background-color: #008080;
    border: none;
}

.social-bg1 {background: #3b5998;}
.soical-bg2 {background: #fff;}

.login-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
  }
  .btn-style {
    background: #008080;
    color: white;
    border: none;
  }

.btn-style:hover {
    background: #008080;
    color: white;
    opacity: 0.9;
  }

.login-fb-social {
    width: 36px;
    height: 36px;
    color: #fff;
    font-size: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.login-google-social {
    font-size: 15px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.login-fb-social:hover {
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
    color: #fff;
    border-radius: 50%;
    
}

.login-google-social:hover {
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
    border-radius: 50%;
}
.flex-c-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

#google-icon {
    width: 25px;
    margin-right:15px;
}

#fb-icon{
    margin-right:15px;
}
/* Register Page */

.register .col-6{
    margin-top: 100px;
    padding: 30px;
    border-radius: 3%;
    box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.2);
}

.register  label {
    margin-top: 10px;
}


.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.title-style {
    background: #008080;
    color: white;
    border: none;
}