.navlink-brand {
    color: #008080;
}

.navlink-brand:hover {
    color: rgb(0,128,128,0.8);
}


.btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(0,128,128,0.2);
}

.navlink {
    color: #008080;
    margin: 3px;
    padding: 0px 5px 15px 5px;
    text-decoration: none;
}

.navlink-active {
    color: #008080;
    border-bottom: 3px solid #008080;
}

.navlink:hover {
    color: #008080;
    border-bottom: 3px solid #008080;
}

.login-btn-color {
    color: white;
    background: #008080 ;
}

.login-btn-color:hover {
    color: white;
    background: #008080;
    opacity: 0.9;
}

.dropdown-item:active {
    background: #008080;
}

