<nav class="navbar navbar-expand-lg px-5 border-bottom">
    <a class="navbar-brand navlink-brand" href="{% url 'homepage' %}">PSYTEST</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'riasec:home' %}" class="navlink">
                        RIASEC Test
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'personalityTest:home' %}" class="navlink">
                        Personality Test
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
        <div class="navbar-nav">
            {% if user.is_authenticated or request.user.is_superuser %}
            <a href="{% url 'administration:unapproved-users' %}" class="svg position-relative my-auto me-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-card-checklist color-teal" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                  </svg>
                  {% if unapproved_users %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{unapproved_users}}
                    <span class="visually-hidden">unread messages</span>
                </span>
                {% endif %}
            </a>
            <div class="btn-group">
                <button type="button" class="btn nav-user" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill color-teal" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      </svg>
                    <small>{{request.user.username|capfirst}}</small>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    {% if request.user.is_superuser %}
                    <a  class="dropdown-item"  href="{% url 'administration:home' %}">Admin</a>
                    <a  class="dropdown-item"  href="{% url 'accounts:results' %}">User Results</a>
                    <a  class="dropdown-item"  href="{% url 'personalityTest:questions' %}">Edit Questions</a>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'accounts:stats' %}"> Your Stats</a></li>
                    <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Log out</a></li>
                </ul>
            </div>
            {% else %}
            <a class="btn login-btn-color" href="{% url 'accounts:login' %}"><strong>Login / Sign Up</strong></a>
            {% endif %}
        </div>
</nav>