{% extends 'personalityTest/base.html' %}
{% load static %}

{% block title %}Edit Questions{% endblock %}

{% block content %}
<header>
    {% include 'partials/_navbar.html' %}
</header>
<main class="container-fluid">

    {% if questions %}
    <br>
    <h4>Questions |  <a href="{% url 'personalityTest:questions_add' %}" class="btn btn-primary btn-sm me-3" type="button">+</a>
</h4>
        {% for question in questions %}
        {{ forloop.counter }}.)
        <a href="{% url 'personalityTest:questions_detail' slug=question.slug %}" style="text-decoration:none;">{{question}}</a> -
        <a href="{% url 'personalityTest:questions_edit' slug=question.slug %}">Edit</a> |
        <a href="{% url 'personalityTest:questions_delete' slug=question.slug %}">Delete</a>
        <br>
        {% endfor %}
    </div>
    {% endif %}

</main>
{% endblock %}