{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<header>
    {% include 'partials/_navbar.html' %}
</header>
<div class="conainer-fluid">
    {% if messages %}
    <div class="bg-success text-white text-center">
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>
    {% endif %}
    <div class="row vh-91p3">
        <div id="carouselcontrols" class="carousel slide text-center d-flex align-items-center" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row carousel-bg-left" style="background-image: url({% static 'images/launch.png' %})">
                        <div class="col-6"></div>
                        <div class="col-6 align-self-center">
                            <div>
                                <p class="fs-75">Hello, {{request.user.first_name|title}}</p>
                                <span class="lead">How are you doing?</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselcontrols" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselcontrols" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- <div class="row vh-100">
        Another content
    </div> -->
</div>

<footer>
    {% include 'partials/footer.html' %}
</footer>
{% endblock %}