{% extends 'base.html' %}
{% load static %}

{% block title %}
Thank You
{% endblock %}

{% block content %}
<div class="text-center w-50 mx-auto">
    <div class="mt-5">
        <img src="{% static 'images/thanks.png' %}" alt="" class="w-75">
        <div class="text-center mt-5">
            <h3>Your answer is sent and will be evaluated</h3>
            <p>Wait for the respone and go back to <a href="{% url 'homepage' %}" class="link-teal">Home</a> </p>
        </div>
    </div>
</div>
{% endblock %}