{% extends 'accounts/base.html' %}




{% block title %}Register{% endblock %}

{% block content%}
<div class="row justify-content-center register">
    <div class="col-6">
        <h3>Register</h3>
    
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label for="">{{form.first_name.label}}</label>
                    {{form.first_name}}
                </div>
                <div class="col">
                    <label for="">{{form.last_name.label}}</label>
                    {{form.last_name}}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">{{form.gender.label}}</label>
                    {{form.gender}}
                </div>
                <div class="col">
                    <label for="">{{form.date_of_birth.label}}</label>
                    <div class="input-group">{{form.date_of_birth}}</div>
                </div>
            </div>
            <label for="">{{form.username.label}}</label>
            {{form.username}}

            <label for="">{{form.email.label}}</label>
            {{form.email}}

            <div class="row">
                <div class="col">
                    <label for="">{{form.password1.label}}</label>
                    {{form.password1}}
                </div>
                <div class="col">
                    <label for="">{{form.password2.label}}</label>
                    {{form.password2}}
                </div>
            </div>
            {% for message in messages %}
            <p id="messages">{{message}}</p>
            {% endfor %}
            {{form.errors}}
            <div class="d-flex justify-content-center">
                <input type="submit" value="Submit" class="btn btn-style w-100 mt-3">
            </div>
        </form>
    </div>
</div>

{% endblock %}